{% extends "base.html" %}

{% block content %}
    <h2>Restore Task</h2>
    <p>
        <a href="{% url 'task-update' task.id %}">Update Task</a> |
        <a href="{% url 'task-delete' task.id %}">Delete Task</a> |
        <a href="{% url 'task-list' %}">Task List</a> |
        <a href="{% url 'task-create' %}">Create Task</a>
    </p>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to restore "{{ object }}"?</p>
        <input type="submit" value="Restore">
    </form>
{% endblock %}
